<template>
    <div class="svg__container">
        <svg>
            <path :d="SVGpath"/>
        </svg>
    </div>
</template>
<!-- 
    M = moveto
    L = lineto
    H = horizontal lineto
    V = vertical lineto
    C = curveto
    S = smooth curveto
    Q = quadratic Bézier curve
    T = smooth quadratic Bézier curveto
    A = elliptical Arc
    Z = closepath
-->

<script>
export default {
    data () {
        return {
            SVGpath: String
        }
    },
    created(){
        this.SVGpath = '';
    },
    mounted() {
        this.SVGpath = '';
        this.initLoop();
    },
    methods: {
        initLoop: function() {
            this.generateSvgPath();
        },
        generateSvgPath: function() {
            const pos = { x:0, y: window.innerHeight/2};
            let pathString = '';
            let stepWidth = 3;
            const steps = Math.floor(window.innerWidth / stepWidth);
            let toothHeight = Math.floor(Math.random() * 50);
            for( let i = 0; i <= steps; i++) {
                toothHeight += Math.random() >= .5 ? stepWidth * 1 : stepWidth * -1;
                pathString += `M ${pos.x},${pos.y + toothHeight} L ${pos.x + stepWidth / 2},${pos.y - toothHeight} L ${pos.x + stepWidth},${pos.y + toothHeight}`;
                pos.x += stepWidth;
            }
            this.SVGpath = pathString;
            setTimeout(() => requestAnimationFrame(this.generateSvgPath), 60);
        }
  }
}
</script>

<style lang="scss">
    .svg {
        &__container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            svg {
                width: 100%;
                height: 100%;
                path {
                     stroke:black;
                     stroke-width: 2;
                     fill: transparent;
                }
            }
        }
    }
</style>