<template>
    <h1 class="header__title">{{title}}</h1>
</template>

<script>
import axios from 'axios';

export default {
    data () {
        return {
            title: String,
            quotes: Array
        }
    },
    mounted () {
        const url = 'https://type.fit/api/quotes';
        axios
        .get(url)
        .then( response => {
            this.quotes = response.data.map( res => res.text);
            this.title = this.getRandomQuote(this.quotes);
            console.log(this.title)
        })
    },
    methods: {
        getRandomQuote(quotes) { 
            const randomNum = Math.floor(Math.random() * quotes.length);
            return this.quotes[randomNum];
        }
  }
}
</script>

<style lang="scss">
  .header__title {
    color: black;
    font-family: arial;
  }
</style>