<template>
  <div>
    <Title/>
    <SvgIntro/>
  </div>
</template>

<script>
  import SvgIntro from './components/SvgIntro.vue';
  import Title from './components/Title.vue';

  export default {
    components: {
      SvgIntro, Title
    }
  }
</script>

<style lang="scss">
  body {
    background: rgba(0,0,0,0.1);
  }
</style>